$thick : 3px;
$pad : 0.7em;
$extra : calc(#{$pad} * 1.2);
$color : #f26522;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  font-family: "Signika Negative", sans-serif, Arial;
}


.container {
  width: 300%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}

.panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  color: white;
  position: relative;
  box-sizing: border-box;
}


.red {
  background-color: #c82736;
  
  .red-title {
    position: relative;
    color: aqua;
    width: 100%;
    height: 100%;

    .red-title-sections {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      font-family: 'Bebas Neue', cursive;
      font-weight: bolder;
      text-transform: uppercase;


      /*
      -------------------------
      ON SECTION NO HOVER
      -------------------------
      */
      .section {
        flex: 1 1 0;
        position: relative;
        font-size: calc(8px + 1vmin);
        max-width: calc(100% / 3);
        overflow: hidden;

        .section-title {
          font-size: calc(6px + 3vmin);
          position: relative;
          width: 100%;
          height: 30%;
          padding-left: 15%;
          padding-right: 15%;
          left: 0;
          top:70%;
          z-index: 5;

          .stretch-text-wrapper {
            width: 100%;
            height: 100%;
            text-align: center;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 1% 1% 1% 1%;
            line-height: 100%;
          }
        }

        .section-flex-box{
          display: flex;
          flex-direction: row;
          position: absolute;
          top: 0;
          left: 0;
          height: 70%;
          max-height: 70%;
          width: 100%;
          padding: 4% 1% 1% 1%;

          .section-info {
            display: flex;
            flex-direction: column;
            position: relative;
            height: 100%;
            width: 0;
            opacity: 0;
            will-change: opacity, width;

            .section-info-title {
              position: relative;
              height: auto;
              width: 100%;
              padding-right: 1%;
            }

            .section-info-details {
              position: relative;
              height: 100%;
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
  
              .details-upper {
                padding: 5% 10% 0 10%;
                text-align: left;
              }
  
              .details-lower {
                position: relative;
                height: 20%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .details-button {
                  justify-self: center;
                  align-self: center;
                  letter-spacing: 0.1em;
                  cursor: pointer;
                  font-weight: 400;
                  line-height: 45px;
                  width: 50%;
                  height: 50%;
                  position: relative;
                  text-decoration: none;
                  text-transform: uppercase;
                  text-align: center;
                  background-color: antiquewhite;
                }

                .card-title-learn-more:hover {
                  text-decoration: none;
              }

              .effectLight {
                  color: #FFF;
                  border: 4px solid #000;
                  box-shadow:0px 0px 0px 1px #000 inset;
                  background-color: #000;
                  overflow: hidden;
                  position: relative;
                  transition: all 0.3s ease-in-out;
              }

              .effectLight:hover {
                  border: 4px solid #666;
                  background-color: #FFF;
                  box-shadow: 0px 0px 0px 4px #EEE inset;
              }

              .effectLight span {
                  justify-self: center;
                  align-items: center;
                  transition: all 0.2s ease-out;
                  z-index: 2;
              }

              .effectLight:hover span{
                  letter-spacing: 0.13em;
                  color: #333;
              }
              
              .effectLight:after {
                  background: #FFF;
                  border: 0px solid #000;
                  content: "";
                  height: 155px;
                  left: -75px;
                  opacity: .8;
                  position: absolute;
                  top: -50px;
                  -webkit-transform: rotate(35deg);
                          transform: rotate(35deg);
                  width: 50px;
                  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
                  z-index: 1;
                }
                .effectLight:hover:after {
                  background: #FFF;
                  border: 20px solid #000;
                  opacity: 0;
                  left: 120%;
                  -webkit-transform: rotate(40deg);
                          transform: rotate(40deg);
                }
              }
            }
          }

          .section-display {
            position: relative;
            width: 100%;
            height: 100%;
            max-height: 100%;
            padding: 3%;
            will-change: padding;

            .card-image {
              position: relative;
              max-width: 100%;
              max-height: 100%;
              object-fit:fill;
            }
          }
        }
      }

      /*
      -------------------------
      ON SECTION HOVER
      -------------------------
      */

      .section:hover {
        flex-grow: 8;
        max-width: 100%;
        transition: all 1s ease-in-out 1s;

        .section-title {
          transition: 1s ease-in-out;
          transition-delay: 1s;
          top: 70%;
          height: 30%;
          padding: 0;
        }

        @media all and (min-width: 500px) { .section-title { font-size: 6vmin;} .section-info-title { font-size: calc(2px + 1vmin); }}
        @media all and (min-width: 700px) { .section-title { font-size: 10vmin;} .section-info-title { font-size: calc(2px + 2vmin); }}
        @media all and (min-width: 800px) { .section-title { font-size: 12vmin;} .section-info-title { font-size: calc(4px + 2vmin); }}
        @media all and (min-width: 1000px) { .section-title { font-size: 14vmin;} .section-info-title { font-size: calc(6px + 3vmin); }}
        @media all and (min-width: 1200px) { .section-title { font-size: 18vmin;} .section-info-title { font-size: calc(8px + 4vmin); }}
        @media all and (min-width: 1400px) { .section-title { font-size: 22vmin;} .section-info-title { font-size: calc(10px + 5vmin); }}
        @media all and (min-width: 1700px) { .section-title { font-size: 26vmin;} .section-info-title { font-size: calc(14px + 6vmin); }}

        .section-flex-box {
          transition: .5s ease-in-out;

          .section-info {
            transition: all 1s ease-in-out 1s;
            width: 30%;
            opacity: 1;
          }
  
          .section-display {
            transition: .5s ease-in;
            transition-delay: 1.0s;
            padding: 0;
          }
        }
      }
    }
  }
}


.transition-1half-ease {
  transition: 1.5s ease-in-out;
  -webkit-transition: 1.5s ease-in-out;
}

.transition-1-ease {
  transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
}

.transition-half-ease {
  transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
}

.transition-2-delay {
  transition-delay: 2s;
}

.transition-1half-delay {
  transition-delay: 1.5s;
}

.transition-1-delay {
  transition-delay: 1s;
}

.transition-half-delay {
  transition-delay: .5s;
}

.grey {
  background-color: #777;
}

.purple {
  background-color: #8d3dae;
  color: black;
}

.red {
  background-color: #c82736;
  color: white;
}
